{% extends "base.html" %}

{% block content %}
    {% if entry %}
        <div class="row rounded border bg-light p-2 m-2">
            <div class="col">
                <div class="row text-start">
                    <div class="col">
                        <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                                data-bs-target="#entry"
                                aria-expanded="false" aria-controls="entry">your entry
                        </button>
                    </div>
                </div>
                <div class="row mt-3 collapse multi-collapse show" id="entry">
                    <div class="col">
                        <div class="table-responsive">
                            <div class="table-responsive-xl">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-start">pilot</th>
                                        <th class="text-start">SSS</th>
                                        <th class="text-start">ESS</th>
                                        <th class="text-start">total time</th>
                                        <th class="text-start">status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="text-start">{{ entry.name }}</td>
                                        <td class="text-start">{{ entry.start or "-" }}</td>
                                        <td class="text-start">{{ entry.end or "-" }}</td>
                                        <td class="text-start">{{ entry.elapsed() }}</td>
                                        <td class="text-start">{{ entry.status }}</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endif %}

    <div class="clearfix">
        <div class="float-start">
            <h1>Task: {{ task.name }}</h1>
        </div>
    </div>
    <div class="clearfix">
        <div class="float-start">
            <h3>{{ task.description or "" }}</h3>
        </div>
    </div>

    <p class="text-start">
        <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#submitTracklogModal">
            submit your tracklog
        </button>
    </p>

    <div class="row rounded border bg-light p-2 m-2">
        <div class="col">
            <div class="row text-start">
                <div class="col">
                    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#turnpoints"
                            aria-expanded="false" aria-controls="turnpoints">turnpoints
                    </button>
                </div>
            </div>
            <div class="row mt-3 collapse multi-collapse show" id="turnpoints">
                <div class="col">
                    <div class="table-responsive-xl">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-start"></th>
                                <th class="text-start">name</th>
                                <th class="text-start">radius (meters)</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for tp in task.turnpoints %}
                                <tr>
                                    <td class="text-start">{{ tp.tag or "" }}</td>
                                    <td class="text-start">{{ tp.waypoint.name }}</td>
                                    <td class="text-start">{{ tp.radius }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row rounded border bg-light p-2 m-2">
        <div class="col">
            <div class="row text-start">
                <div class="col">
                    <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                            data-bs-target="#overall-results"
                            aria-expanded="false" aria-controls="overall-results">Overall Results
                    </button>
                </div>
            </div>
            <div class="row mt-3 collapse multi-collapse show" id="overall-results">
                <div class="col">
                    <div class="table-responsive-xl">
                        <table class="table table-hover table-striped">
                            <thead>
                            <tr>
                                <th class="text-start"></th>
                                <th class="text-start">name</th>
                                <th class="text-start">glider</th>
                                <th class="text-start">class</th>
                                <th class="text-start d-none d-lg-block">start</th>
                                <th class="text-start">time</th>
                                <th class="text-start">status</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for e in task.entries %}
                                <tr>
                                    <td class="text-start">{{ loop.index0 + 1 }}</td>
                                    <td class="text-start">{{ e.name }}</td>
                                    <td class="text-start">{{ e.glider }}</td>
                                    <td class="text-start">{{ e.glider_class }}</td>
                                    <td class="text-start d-none d-lg-block">{{ e.start or '-' }}</td>
                                    <td class="text-start">{{ e.elapsed() or '-' }}</td>
                                    <td class="text-start">{{ e.status }}</td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% for category in category_entries %}
        {% if category.entries | length > 0 %}
            <div class="row rounded border bg-light p-2 m-2">
                <div class="col">
                    <div class="row text-start">
                        <div class="col">
                            <button class="btn btn-secondary" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#{{ category.id }}-results"
                                    aria-expanded="false" aria-controls="{{ category.id }}-results">
                                {{ category.name }}
                            </button>
                        </div>
                    </div>
                    <div class="row mt-3 collapse multi-collapse show" id="{{ category.id }}-results">
                        <div class="col">
                            <div class="table-responsive-xl">
                                <table class="table table-hover table-striped">
                                    <thead>
                                    <tr>
                                        <th class="text-start"></th>
                                        <th class="text-start">name</th>
                                        <th class="text-start">glider</th>
                                        <th class="text-start">class</th>
                                        <th class="text-start d-none d-lg-block">start</th>
                                        <th class="text-start">time</th>
                                        <th class="text-start">status</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    {% for e in category.entries %}
                                        <tr>
                                            <td class="text-start">{{ loop.index0 + 1 }}</td>
                                            <td class="text-start">{{ e.name }}</td>
                                            <td class="text-start">{{ e.glider }}</td>
                                            <td class="text-start">{{ e.glider_class }}</td>
                                            <td class="text-start d-none d-lg-block">{{ e.start or '-' }}</td>
                                            <td class="text-start">{{ e.elapsed() or '-' }}</td>
                                            <td class="text-start">{{ e.status }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    {% endfor %}

    <div class="modal" tabindex="-1" id="submitTracklogModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method=post enctype=multipart/form-data
                      action="{{ url_for('tasks.submit_tracklog', task_id=task.id) }}">
                    <div class="modal-header">
                        <h5 class="modal-title">Submit Tracklog</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body text-start">
                        <div class="mb-3">
                            <label for="name" class="form-label">Pilot Name</label>
                            <input class="form-control" type="text" id="name" name="name">
                            <div class="form-text">
                                Full name. Until we get logins setup, please try to use a consistent name
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="license" class="form-label">Pilot License</label>
                            <input class="form-control" type="text" id="license" name="license">
                            <div class="form-text">
                                USHPA / HPAC / IPPI Number
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="glider" class="form-label">Glider</label>
                            <input class="form-control" type="text" id="glider" name="glider">
                            <div class="form-text">
                                Glider make and model. Eg. 'Ozone Delta4'
                            </div>
                        </div>
                        <div class="mb-3">
                            <label for="gliderClass" class="form-label">Class</label>
                            <select name="gliderClass" id="gliderClass" class="form-select">
                                <option value="EN-A">EN-A</option>
                                <option value="EN-B">EN-B</option>
                                <option value="EN-C">EN-C</option>
                                <option value="EN-D">EN-D</option>
                                <option value="EN-CCC">EN-CCC</option>
                                <option value="Mini">Mini</option>
                                <option value="Parakite">Parakite</option>

                            </select>
                        </div>
                        <div class="mb-3">
                            <label for="tracklogFile" class="form-label">Tracklog File</label>
                            <input class="form-control" type="file" id="tracklogFile" name="tracklogFile">
                            <div class="form-text">
                                Only IGC tracklogs are supported.
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Save changes</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

{% endblock %}
