{% extends "base.html" %}

{% block content %}
    <h1 class="title">
        Current tasks
    </h1>
    {% for t in tasks %}
        <div class="card m-2">
            <div class="card-header text-start">
                <div class="row">
                    <div class="col">
                        {{ t.name }}
                    </div>
                    <div class="col text-end">
                        {{ t.start.strftime("%Y-%m-%d") }} &rarr; {{ t.end.strftime("%Y-%m-%d") }}
                    </div>
                </div>
            </div>
            <div class="card-body text-start">
                <h5 class="card-title">{{ t.description or t.name }}</h5>
                <p class="card-text">
                </p>
                <p class="card-text">
                    {# TODO: add current leader#}
                    Current leader: {{ "-" }}
                </p>
                <div class="text-end">
                    <a href=" {{ url_for('tasks.detail', task_id=t.id) }}" class="btn btn-primary">Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
