{% extends "base.html" %}

{% block content %}
<h1 class="title">
    Current tasks
</h1>
<table class="table table-hover table-striped">
    <thead class="table-dark">
    <tr>
        <th scope="col">name</th>
        <th scope="col">start</th>
        <th scope="col">end</th>
        <th scope="col">current leader</th>
    </tr>
    </thead>
    <tbody>
    {% for t in tasks %}
    <tr class="position-relative clickable-row" data-href="tasks/{{ t.id }}">
        <th scope="row">{{ t.name }}</th>
        <td>{{ t.start.strftime("%Y-%m-%d %H:%M:%S %z") }}</td>
        <td>{{ t.end.strftime("%Y-%m-%d %H:%M:%S %z") }}</td>
        <td>-</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}

{% block scripts %} {{ super() }}
<script>
    jQuery(document).ready(function($) {
        $(".clickable-row").click(function() {
            window.location = $(this).data("href");
        });
    });
</script>
{% endblock %}