<!doctype html>
<html lang="en">
<head>
    {% block head %}
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>Sand City Racing Club</title>

        {% block styles %}
            <!-- Bootstrap CSS -->
            {{ bootstrap.load_css() }}
            <style>
                body {
                    display: flex;
                    min-height: 100vh;
                    flex-direction: column;
                }

                main {
                    flex: 1;
                }
            </style>
        {% endblock %}
        <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}"/>
    {% endblock %}
</head>
<body>
<header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="{{ url_for('main.index') }}">Sand City Racing Club</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><span
                    class="navbar-toggler-icon"></span></button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ url_for('main.index') }}">home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{{ url_for('tasks.index') }}">tasks</a>
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">Files</a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item"
                                   href="{{ url_for('static', filename='downloads/sand-city-v1.wpt') }}">sand-city-v1.wpt</a>
                            </li>
                            <li>
                                <hr class="dropdown-divider"/>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('static', filename='downloads/xc-league-2024.wpt') }}">xc-league-2024.wpt</a>
                            </li>
                            <li><a class="dropdown-item" href="{{ url_for('static', filename='downloads/Vaca_waypoints_04152024.wpt') }}">Vaca_waypoints_04152024.wpt</a>
                            </li>
                        </ul>
                    </li>

                    {% if current_user.is_authenticated and current_user.is_admin %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('admin.index') }}" target="_blank" rel="noopener noreferrer">admin</a>
                        </li>
                    {%  endif %}

                    {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">logout</a>
                        </li>
                    {%  endif %}
                </ul>

            </div>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <div class="text-center mt-5">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}" role="alert">
                            {{ message|safe }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
            {% block content %}{% endblock %}
        </div>
    </div>
</main>
<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 mx-4 border-top mt-auto">
    <p class="col-md-4 mb-0 text-body-secondary">© {{ now.year }} Casey Gerstle</p>

    <p class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto text-decoration-none">
        <small>{{ version }}</small>
    </p>

    <ul class="nav col-md-4 justify-content-end">
        <li class="nav-item"><a href="{{ url_for('main.index') }}" class="nav-link px-2 text-body-secondary">home</a></li>
        <li class="nav-item"><a href="{{ url_for('tasks.index') }}" class="nav-link px-2 text-body-secondary">tasks</a></li>
        {%  if not current_user.is_authenticated %}
            <li class="nav-item"><a href="{{ url_for('auth.login') }}" class="nav-link px-2 text-body-secondary">login</a></li>
        {%  endif %}
    </ul>
</footer>

<script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
{% block scripts %}
    <!-- Optional JavaScript -->
    {{ bootstrap.load_js() }}
{% endblock %}

</body>
</html>